{% extends 'anitracker/base.html' %}
{% block title %} - Admissions {% endblock %}
{% block content %}
    <form method='post' action={% url index %}>
        <p>
        <p>{{ form.date_of_admission.label }}: {{ form.date_of_admission }} {{ form.date_of_admission.errors }}</p>
        <p>{{ form.animal.label }}: {{ form.animal }} or <span id="new-animal">Add a New Animal</span> {{ form.animal.errors }} </p>
        <span id="add-new-animal" style="display: none;"><p>{{ animal_form.name.label }}: {{ animal_form.name }} {{ animal_form.name.errors }}</p></span>
        <p>{{ form.animal_subtype.label }}: {{ form.animal_subtype }} or <span id="new-animal-subtype">Add a New Animal SubType</span> {{ form.animal_subtype.errors }}</p>
        <span id="add-new-subtype" style="display: none;"><p>{{ specie_form.as_p }}</p></span>
        <p>{{ form.received_from.label }}: {{ form.received_from }} or <span id="new-received-from">Add New Person</span>{{ form.received_from.errors }}</p>
        <span id="add-new-finder" style="display: none;"><p>{{ finder_form.as_p }}</p></span>
        <p>{{ form.animal_age.label }}: {{ form.animal_age }} {{ form.animal_age.errors }}</p>
        <p>{{ form.disposition_date.label }}: {{ form.disposition_date }} {{ form.disposition_date.errors }} </p>
        <p>{{ form.disposition.label }}: {{ form.disposition }} {{ form.disposition.errors }} </p>
        <span id="released-to" style="display: none;"><p>{{ form.released_to.label }}: {{ form.released_to }} or <span id="new-released-to">Add a New Person</span>{{ form.released_to.errors }}<br /></p></span>
        <span id="add-new-receiver" style="display: none;"><p>{{ released_person_form.as_p }}</p></span>
        <p>{{ form.follow_up.label }}: {{ form.follow_up }} {{ form.follow_up.errors }}</p>
        <p>{{ form.notes.label }}: {{ form.notes }} {{ form.notes.errors }}</p>
        </p>
        {% csrf_token %}
        <input type='submit' value='Submit' />
    </form>
{% endblock %}
{% block onready %}
    $('#id_date_of_admission').datepicker();
    $('#id_disposition_date').datepicker();

    $('#new-animal').click(function() {
        $('#add-new-animal').toggle();
    });

    $('#new-animal-subtype').click(function() {
        $('#add-new-subtype').toggle();
    });

    $('#new-received-from').click(function() {
        $('#add-new-finder').toggle();
    });

    $('#new-released-to').click(function() {
        $('#add-new-receiver').toggle();
    });

    $('#id_disposition').change(function() {
        var value = $('#id_disposition').val();
        if (value == 'transferred' || value == 'released') {
            $('#released-to').toggle();
        }
    });

    $('#id_animal').change(function() {
        var value = $('#id_animal').val();
        $('#id_specie-animal').val(value);
        if ( value != null ) {
            $.ajax({
                url: '{% url specie-type-json %}' + '?animal_pk=' + value,
                success: function(data) {
                    var options = '<option selected="selected" value="">---------</option>';
                    for (var i=0; i < data.specie_types.length; i++) {
                        options += '<option value="' + data.specie_types[i][0] + '">' + data.specie_types[i][1] + '</option>';
                    }
                    $('#id_animal_subtype').html(options);
                }
            });
        }

    });
{% endblock %}
